/* ------------------------------- QualificationForm.css starts here ------------------------------- */

.QualificationForm-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  padding: 50px;
  border-radius: 40px;
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.QualificationForm-datebox {
  width: 48.75%;
}

.QualificationForm-startDateEndDate {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.QualificationForm-head {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 15px;
}

.QualificationForm-button {
  padding-top: 10px;
}

@media screen and (max-width: 500px) {
  .QualificationForm-startDateEndDate {
    flex-direction: column;
    gap: 17px;
  }
  .QualificationForm-datebox {
    width: 100%;
  }
}

/* ------------------------------- QualificationForm.css ends here ------------------------------- */
/* ------------------------------- BasicDetails.css starts here ---------------------------------- */

.basicDetails-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  border-radius: 40px;
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.basicDetails-head {
  width: 100%;
  left: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  overflow: hidden;
  word-break: break-word;
}

.basicDetails-containerOne {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basicDetails-containerInput-out {
  gap: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.basicDetails-containerInput-inter {
  gap: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.basicDetails-containerInput-in {
  gap: 6px;
  display: flex;
  flex-direction: column;
  margin-top: 7px;
  width: 100%;
}
.basicDetails-iconText {
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  width: 100%;
}

.basicDetails-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.basicDetails-error {
  color: var(--primary-color);
  margin-top: 5px;
  font-size: 0.875rem;
}

/* ------------------------------- BasicDetails.css ends here ------------------------------------ */
/* ------------------------------- CombinedSkillForm.css starts here --------------------------- */

.combinedSkillForm-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  border-radius: 40px;
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.combinedSkillForm-head {
  width: 100%;
  left: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  overflow: hidden;
  word-break: break-word;
}

.combinedSkillForm-containerOne {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.combinedSkillForm-containerInput {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.combinedSkillForm-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.combinedSkillForm-message {
  font-size: 14px;
  color: var(--white);
}

.combinedSkillForm-skillName {
  color: var(--primary-color);
  margin-left: 5px;
}

.combinedSkillForm-allHeading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  word-break: break-word;
}

.combinedSkillForm-text {
  font-size: 12px;
  left: 57px;
}

/* ------------------------------- CombinedSkillForm.css ends here --------------------------- */
/* ------------------------------- AddProfilelink.css starts here ---------------------------- */

.addProfilelink-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  border-radius: 40px;
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.addProfilelink-containerOne {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addProfilelink-head {
  width: 100%;
  left: 57px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
  overflow: hidden;
  word-break: break-word;
}

.addProfilelink-containerInput {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.addProfilelink-buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------- AddProfilelink.css ends here ---------------------------- */
/* -------------------------------- Greeting.css starts here -------------------------------- */

.common-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.common-welcome {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.41px;
}

.common-header {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.59px;
  display: flex;
  gap: 100px;
  flex-direction: row;
  justify-content: space-between;
}

.common-greenlink {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 25px;
  padding-right: 25px;
}

.common-greenlink a {
  text-decoration: underline;
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .common-welcome {
    font-size: 18px;
  }

  .common-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
  }

  .common-greenlink {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
}

/* -------------------------------- Greeting.css ends here -------------------------------- */
/* -------------------------------- Action.css starts here -------------------------------- */

.common-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.common-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.common-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.common-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.common-heading {
  color: white;
  font-size: 24px;
  font-weight: 500;
  align-items: flex-end;
}

.common-filter {
  display: flex;
  flex-direction: row;
}

.common-search {
  width: 33%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .common-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .common-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .common-heading {
    font-size: 18px;
  }

  .common-search.common-large,
  .common-search.common-medium,
  .common-search.common-small {
    width: 100%;
  }

  .common-buttons {
    width: 100%;
  }

  .common-right {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 767px) {
  .common-content {
    padding: 0;
  }

  .common-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .common-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .common-heading {
    font-size: 18px;
  }

  .common-search {
    width: 100%;
  }

  .common-buttons {
    width: 100%;
  }

  .common-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .common-reset {
    width: 100%;
  }

  .common-filter {
    display: flex;
    align-items: space-between;
  }
}

/* --------------------------------- Action.css ends here --------------------------------- */
/* ------------------------------- DeleteBox.css starts here ------------------------------- */

.deletebox-box {
  max-width: 100%;
  border-radius: 40px;
  background: var(--background);
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  gap: 10px;
}

.deletebox-content {
  display: flex;
  flex-direction: column;
}

.deletebox-title {
  color: var(--white);
  width: 100%;
  font-weight: 500;
  font-size: 21px;
  text-align: center;
  padding-bottom: 10px;
}

.deletebox-message {
  color: var(--white);
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 14px;
}

.deletebox-button {
  width: 100%;
  max-width: 375px;
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* ------------------------------- DeleteBox.css ends here ------------------------------- */
/* ------------------------------- DataView.css starts here ------------------------------- */

.dataview-toggleContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}

.dataview-toggleButton {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataview-toggleButton:hover {
  color: var(--primary-color);
}

.dataview-toggleButton.selected {
  color: var(--primary-color);
}

.dataview-icons {
  font-size: 24px;
}

.dataview-cardscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
}

.dataview-tablecontainer {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral600) #ffffff00;
}

.dataview-pagination {
  margin-top: 24px;
}

.dataview-eventcard {
  flex-basis: 336px;
  height: 75px;
}

.dataview-primarycard {
  flex-basis: 287px;
  height: 193px;
}

.dataview-profilecard {
  flex-basis: 279px;
  height: 228px;
}

.dataview-skillbatchcardskill {
  flex-basis: 232px;
  height: 151px;
}

.dataview-skillbatchcardbatch {
  flex-basis: 282px;
  height: 168px;
}

.dataview-skillcard {
  flex-basis: 274px;
  height: 74px;
}

.dataview-skilluser {
  flex-basis: 263px;
  height: 168px;
}

.dataview-studentcard {
  flex-basis: 230px;
  height: 230px;
}

.dataview-testimonialcard {
  flex-basis: 253px;
  height: 321px;
}

/* ------------------------------- DataView.css ends here ------------------------------- */
/* ------------------------------- AddStudent.css starts here ------------------------------- */

.addStudent-head {
  font-size: 21px;
  color: white;
  margin-bottom: 25px;
}

.addStudent-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 40px;
  padding: 45px;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
}

.addStudent-field {
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: space-between;
}

.addStudent-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.addStudent-name {
  width: 50%;
}

@media (max-width: 768px) {
  .addStudent-container {
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    height: fit-content;
  }

  .addStudent-head {
    font-size: 18px;
  }

  .addStudent-form {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .addStudent-container {
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    height: fit-content;
  }

  .addStudent-head {
    font-size: 16px;
  }

  .addStudent-form {
    gap: 15px;
  }
}

/* -------------------------------- AddStudent.css ends here -------------------------------- */
