/*----------Start-----------Data View Layout---------------------------*/

.dataview-toggleContainer {
  display: flex;
  justify-content: end;
  margin-bottom: 24px;
}

.dataview-toggleButton {
  color: var(--white);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
  margin: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dataview-toggleButton:hover {
  color: var(--primary-color);
}

.dataview-toggleButton.selected {
  color: var(--primary-color);
}

.dataview-icons {
  font-size: 24px;
}

.dataview-cardscontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  justify-content: center;
}

.dataview-tablecontainer {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral600) #ffffff00;
}

.dataview-pagination {
  margin-top: 24px;
}

/*Dynamic card components for flex box sizing*/
.dataview-eventcard {
  flex-basis: 336px;
  height: 75px;
}

.dataview-primarycard {
  flex-basis: 287px;
  height: 193px;
}

.dataview-profilecard {
  flex-basis: 279px;
  height: 228px;
}

.dataview-skillbatchcardskill {
  flex-basis: 282px;
  height: 168px;
}

.dataview-skillbatchcardbatch {
  flex-basis: 282px;
  height: 168px;
}

.dataview-skillcard {
  flex-basis: 274px;
  height: 74px;
}

.dataview-skilluser {
  flex-basis: 263px;
  height: 168px;
}

.dataview-studentcard {
  flex-basis: 230px;
  height: 230px;
}

.dataview-testimonialcard {
  flex-basis: 253px;
  height: 321px;
}

/*----------End-----------Data View Layout---------------------------*/
