@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
.nav-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-arrow {
    font-size: 24px;
    color: white;
}

.back-arrow:hover {
    color: #BAFF66;
    cursor: pointer;
}

.page-name {
    margin-left: 1px;
    color: white;
    font-family: Urbanist;
}