.button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px; 
  border-radius: 50px;
  color: var(--black);
  width: auto;
  transition: background-color 0.3s ease; 
  height: 54px;
}

.primary {
  
  background-color: var(--primary-color);
}

.primary:hover {
  background-color: var(--white);
}

.secondary {
  background-color: var(--white);
}

.secondary:hover {
  color: var(--black);
  background-color: var(--primary-color); 
}

.tertiary {
  background: none;
  color: var(--white);
  border: 1px solid var(--primary-color);
}

.tertiary:hover {
  background-color: var(--primary-color); 
  color: var(--black); 
}

.full {
  width: 100%;
}

.half {
  width: 60%;
}
