.EventStatus {
  width: 102px;
  height: 35px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 8px 14px;
  border-bottom: 2px solid var(--neutral700);
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.EventStatus:hover {
  background-color: var(--primary-color);
  color: black;
}
.EventStatus.active {
  background-color: var(--white);
  color: var(--black);
}
.rectangleButtonsContainer {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .EventStatus {
    font-size: 14px;
    width: 100px;
  }
}
