.textbutton {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 3px;
  color: var(--white);
}

.textbutton:hover {
  color: var(--primary-color);
}

.text {
  font-size: 18px;
}

.icon {
  margin-top: 2px;
  font-size: 16px;
}

/* @media (min-width: 768px) and (max-width: 992px) {
  .icon{
    font-size: 14px;
  }
  .text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .icon{
    font-size: 12px;
  }
  .text {
    font-size: 14px;
  }
} */