.box {
  max-width: 1000px;
  width: 80%;
}

.box .search-box {
  position: relative;
  height: 45px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
}

.search-box input {
  flex: 1;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: none;
  background: none;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  color: var(--white);
}

.search-box .search-button {
  width: 10%;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.search-box .search-button:hover {
  background: var(--primary-color);
}

.none {
  display: none;
}

.small-box {
  max-width: 400px;
  width: 100%;
}

.custom-box {
  width: 50%;
}

.custom-box .search-box {
  position: relative;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
}

.small-box .search-box {
  position: relative;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
}

.small-box input {
  flex: 1;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  background: none;
  padding-left: 15px;
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  color: var(--white);
}


.custom-box input {
  flex: 1;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  background: none;
  padding-left: 15px;
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  color: var(--white);
}

.custom-box .search-button {
  width: 90px;
  border: none;
  border-radius: 0 18px 18px 0;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.small-box .search-button {
  width: 70px;
  border: none;
  border-radius: 0 18px 18px 0;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.custom-box .search-button:hover {
  background: var(--primary-color);
}

.small-box .search-button:hover {
  background: var(--primary-color);
}

@media (min-width: 768px) and (max-width: 992px) {
    .box .search-box {
      height: 40px;
    }

  .small-box {
    width: 100%;
  }

    .custom-box{
      width: 100%;
  }

    .small-box .search-box {
      height: 40px;
      width: 100%;
  }

    .custom-box .search-box {
      height: 40px;
      width: 100%;
  }

    .search-box {
      height: 40px;
  }

    .search-box input {
      font-size: 12px;
  }

    .search-box .search-button {
      font-size: 12px;
  }

}

@media screen and (max-width: 767px) {
  .box .search-box {
    height: 35px;
    width: 125%;
  }

  .small-box {
    width: 50%;
  }

  .small-box .search-box {
    height: 35px;
  }

  .custom-box .search-box {
    height: 35px;
  }

  .search-box input {
    font-size: 10px;
  }

  .search-box .search-button {
    font-size: 10px;
  }

  .small-box .search-box {
    width: 200%;
  }

  .custom-box .search-box {
    width: 200%;
  }

  .custom-box .search-button {
    width: 70px;
  }

}