/* Base Styles */
.box {
  max-width: 1000px;
  width: 80%;
}

.search-box {
  position: relative;
  height: 45px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  border: 2px solid var(--white);
}

.search-box input {
  flex: 1;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: none;
  background: none;
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  color: var(--white);
}

.search-button {
  width: 10%;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: var(--white);
  color: var(--black);
  font-size: 16px;
  letter-spacing: -0.41px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}

.search-button:hover {
  background: var(--primary-color);
}

.none {
  display: none;
}

/* Custom Box Styles */
.custom-box {
  width: 50%;
}

.custom-box .search-box {
  border-radius: 20px;
}

.custom-box input {
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
}

.custom-box .search-button {
  width: 90px;
  border-radius: 0 20px 20px 0;
}

/* Small Box Styles */
.small-box {
  width: 40%;
}

.small-box .search-box {
  border-radius: 20px;
}

.small-box input {
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
}

.small-box .search-button {
  width: 70px;
  border-radius: 0 20px 20px 0;
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 992px) {
  .search-box {
    height: 40px;
  }

  .search-box input {
    font-size: 12px;
  }

  .search-button {
    font-size: 12px;
  }

  .box, .small-box, .custom-box {
    width: 100%;
  }
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
  .search-box {
    height: 35px;
  }

  .search-box input {
    font-size: 10px;
  }

  .search-button {
    font-size: 10px;
  }

  .box .search-box {
    width: 125%;
  }

  .small-box, .custom-box {
    width: 50%;
  }

  .small-box .search-box,
  .custom-box .search-box {
    width: 200%;
  }

  .custom-box .search-button {
    width: 70px;
  }
}
