.box {
  max-width: 1000px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.box .search-box {
  position: relative;
  height: 45px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 1%;
  border: 2px solid var(--white);
}
.search-box input {
  flex: 1;
  border-radius: 25px 0 0 25px;
  outline: none;
  border: none;
  background: none;
  padding-left: 20px;
  font-size: 18px;
  background-color: var(--black);
  color: var(--white);
}
.search-box .search-button {
  width: 10%;
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: var(--white);
  color: var(--black);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 60px;
}
.search-box .search-button:hover {
  background: var(--primary-color);
}
.none {
  display: none;
}
.small-box {
  max-width: 400px;
  width: 100%;
  margin-left: 10%;
  margin-right: 20%;
}
.small-box .search-box {
  position: relative;
  height: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: 2px solid var(--white);
}
.small-box input {
  flex: 1;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  background: none;
  padding-left: 15px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--black);
}
.small-box .search-button {
  width: 70px;
  border: none;
  border-radius: 0 18px 18px 0;
  background: var(--white);
  color: var(--black);
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}
.small-box .search-button:hover {
  background: var(--primary-color);
}
@media (max-width: 834px) {
  .box .search-box {
    height: 35px;
  }
  .small-box .search-box {
    height: 35px;
  }
  .search-box {
    height: 35px;
  }
  .search-box input {
    font-size: 12px;
  }
  .search-box .search-button {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  /* .box .search-box {
    margin: 30px auto 0 10px;
  } */
}
@media screen and (max-width: 768px) {
  .search-box {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .search-input {
    width: calc(100% - 78%);
  }
}
