.testimonialbox {
    width: 253px;
    min-height: 273px;
    border-radius: 19px;
    padding: 25px;
    position: absolute;
    background-color: var(--neutral800);
    color: var(--white); 
    display: flex;
    flex-direction: column;
    gap: 26px;
    overflow-wrap: break-word;
    text-align: left;
  }

  .testimonialbox:hover{
    background-color: var(--white);
    color: var(--secondary-color);
  }
  .testimonialcontent {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

  }
  
  .profile{
    width: 53px;
    height: 53px;
    border-radius: 82%;
  }
  
  
  .details {
    display: flex;
    flex-direction: column;
    width: 145px;

  }
  .name{
    font-size: 16px;
    letter-spacing: -0.41px;
    font-weight: 600;
  }
  .info,.place{
    font-size: 12px;
  }
 .description{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    width: 202px;
  }