.custom-google-login-button {
    background-color:var(--primary-color); /* Bright green color */
    color:var(--secondary-color); /* Black text */
    border: none; /* Remove border */
    border-radius: 50px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better appearance */
    font-size: 14px; /* Larger font size */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Flexbox for aligning items */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }
   
  .custom-google-login-button:hover {
    background-color: var(--white); /* Slightly darker green on hover */
  }