  .Cards{
    position: relative;
  
  }
  .dateRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

.CardOutline{
  position: absolute;
  max-width:280px;
  max-height: 189px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  padding: 1.5rem;
  border-radius: 20px;
  left: 0;
  color: var(--white);
 }

 .CardOutlineHover{
    z-index: 1;
    position: absolute;
    max-width:280px;
    max-height: 189px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
    padding: 1.5rem;
    border-radius: 20px;
    left: 0;
    color: var(--black);
    cursor: pointer;
    }




.cardsminiheading{
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 169.231% */
letter-spacing: -0.408px;
}

.cardsmainheading{
    width: 185px;
height: 48px;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 91.667% */
letter-spacing: -0.408px;
}

.cardsdate{
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 22px; /* 169.231% */
letter-spacing: -0.408px;
}
.cardsdiscription{
    width: 240px;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 14px; /* 107.692% */
letter-spacing: -0.408px;
}




/* ///////////////////////////// */





.leftCard{
    position: absolute;
    width:208px;
    height: 194px;
    border-left: 1px solid  var(--primary-color);
    border-top: 1px solid  var(--primary-color);
    border-radius: 20px 0 0 20px;
    /* background-color: #baff66; */
    left: 0;
}

.leftCardHover{
    position: absolute;
    width:208px;
    height: 194px;
    /* border-left: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-top: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 20px 0 0 20px;
    background-color: var(--white);
    left: 0;
}


.rightCard{position: absolute;
    width:288px;
    height: 125px;
    border-bottom: 1px solid  var(--primary-color);
    border-right: 1px solid  var(--primary-color);
    border-radius: 0 0 20px 20px;
    left: 0;
    top: 69px;
}


.rightCardHover{
    position: absolute;
    width:288px;
    height: 125px;
    /* border-bottom: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-right: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 0 20px 20px;
    left: 0;
    background-color: var(--white);
    top: 69px;

}


.mask{position: absolute;
    width:40px;
    height: 40px;
    border-bottom: 1px solid  var(--primary-color);
    border-left: 1px solid  var(--primary-color);
    border-radius: 0 0 0 90%;
    left: 231px;
    top: 18px;
}

.maskHover{
    position: absolute;
    width:40px;
    height: 40px;
    /* border-bottom: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-left: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 0 0 90%;
    left: 232px;
    top: 17px;
    box-shadow: -3px 3px 0 3px var(--white);
    /* background-color: #ffffff; */
}

.mask2{position: absolute;
    width:24px;
    height: 20px;
    border-top: 1px solid  var(--primary-color);
    border-right: 1px solid  var(--primary-color);
    border-radius: 0 69% 0 0;
    left: 208px;
    top: 0px;
    /* box-shadow: -10px 10px 0 rgb(87, 64, 64); */
}

.mask2Hover{

    position: absolute;
    width:24px;
    height: 20px;
    /* border-top: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-right: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 69% 0 0;
    left: 208px;
    top: 0px;
    background-color: var(--white);
}


.mask3{position: absolute;
    width:20px;
    height: 23px;
    border-top: 1px solid  var(--primary-color);
    border-right: 1px solid  var(--primary-color);
    border-radius: 0 69% 0 0;
    left: 268px;
    top: 57px;
    /* box-shadow: -10px 10px 0 rgb(85, 20, 20); */
}

.mask3Hover{
    position: absolute;
    width:20px;
    height: 23px;
    /* border-top: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-right: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 69% 0 0;
    left: 268px;
    top: 57px;
    background-color: var(--white);

}

.mask4{
    position: absolute;
    width:20px;
    height: 23px;
    /* border-top: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-right: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 69% 0 0;
    left: 268px;
    top: 57px;
}

.mask4Hover{
    position: absolute;
    width:40px;
    height: 40px;
    /* border-bottom: 1px solid  var(--Primary-Color-1, #baff66); */
    /* border-left: 1px solid  var(--Primary-Color-1, #baff66); */
    border-radius: 0 0 0 90%;
    left: 232px;
    top: 17px;
    box-shadow: -18px 18px 0 18px var(--white);
}




.arrow{
    position: absolute;
    width:40px;
    height: 40px;
    /* border: 0.4px solid  var(--Primary-Color-1, #ffffff); */
    box-shadow: 0 0 0 0.5px var(--white);
    border-radius: 50%;
    left: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}


.arrowHover{
    position: absolute;
    width:40px;
    height: 40px;
    /* border: 0.4px solid  var(--Primary-Color-1, #ffffff); */
    box-shadow: 0 0 0 0.5px var(--white);
    border-radius: 50%;
    left: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    border: 0.4px solid  var(--primary-color);
    color: #000000;
    box-shadow: none;
    background-color: var(--primary-color);
}
