.cards {
  position: relative;
  width: 254px;
  height: 183px;
  border: 1px solid var(--neutral800);
  border-radius: 20px;
  gap: 10px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--white);
  background: var(--neutral800);
  overflow: hidden;
  transition:
    color 0.25s,
    background-color 0.25s;
}

.cards:hover {
  color: var(--black);
  cursor: pointer;
  border: 1px solid var(--white);
  background: var(--white);
}

.cardContents {
  display: flex;
  flex-direction: row;
  padding: 25px 17px;
  justify-content: space-between;
  width: 100%;
  height: 175px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: flex-start;
  padding: 0px 10px;
}

.cardsDeleteEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.cards:hover .cardsDeleteEdit {
  visibility: visible;
}

.cards:hover {
  color: var(--black);
  cursor: pointer;
  border: 1px solid var(--white);
  background: var(--white);
}

.deleteIcon,
.editIcon {
  height: 18px;
  width: 18px;
  cursor: pointer;
}

.deleteTextIcon {
  display: flex;
  align-items: end;
}

.cards:hover .deleteTextIcon,
.cards:hover .editIcon,
.cards:hover .education-qualification-date {
  color: var(--black);
}

.education-qualification-remove {
  color: var(--warning-color);
  stroke-width: 1px;
}

.education-qualification-name {
  padding-bottom: 4px;
  height: 20px;
}
.education-qualification-date {
  font-size: 14px;
  color: var(--neutral500);
  height: 20px;
}
.education-qualification-specialization {
  height: 25px;
}
.education-qualification-institution{
    height: 40px; 
}
.education-qualifications-list {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
}
