/* ------------------------------- AddEvent.css starts here ------------------------------- */

.addevent-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 2%;
  background-color: transparent;
  color: var(--white);
  gap: 17px;
  background-color: var(--background);
  padding: 40px;
  border-radius: 40px;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
}

.addevent-eventtitlediv {
  width: 80%;
}

.addevent-eventmodediv {
  width: 20%;
}

.addevent-eventtitlemode {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.addevent-datetimecontainer {
  display: flex;
  justify-content: space-between;
  gap: 2%;
}

.addevent-datetimecontainer .inputcontainer {
  flex: 1;
}

.addevent-datetime {
  width: 100%;
}

.addevent-eventtitle,
.addevent-eventmode,
.addevent-eventtype,
.addEvent-description,
.addEvent-location,
.addEvent-speaker,
.addEvent-organizer {
  margin-bottom: 2%;
}

@media (min-width: 769) and (max-width: 992px) {
  .addEvent-dateTimeContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .addEvent-dateTimeContainer .input-container {
    flex: 1 1 48%;
  }

  .addEvent-eventTitleMode {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .addEvent-eventTitleMode .input-container {
    flex: 1 1 48%;
  }
}

@media screen and (max-width: 768px) {
  .addEvent-form {
    width: 100%;
  }

  .addEvent-dateTimeContainer {
    flex-direction: column;
    gap: 17px;
  }

  .addEvent-dateTimeContainer .input-container {
    width: 100%;
  }

  .addEvent-eventTitleMode {
    flex-direction: column;
    gap: 17px;
  }

  .addEvent-eventTitleMode .input-container {
    width: 100%;
  }

  .addEvent-eventTitleDiv {
    width: 100%;
  }

  .addEvent-eventModeDiv {
    width: 100%;
  }

  .addEvent-buttonContainer {
    width: 100%;
  }
}

/* ------------------------------- AddEvents.css ends here ------------------------------- */
/* ------------------------ EventParticipantsList.css starts here ------------------------ */

.eventparticipantslist-container {
  width: 100%;
}

.eventparticipantslist-navbuttons {
  display: flex;
  gap: 5px;
  margin-bottom: 0px;
}

.eventparticipantslist-table {
  margin-top: 0px;
  width: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral600) #ffffff00;
}

@media screen and (max-width: 768px) {
  .eventparticipantslist-container {
    width: 100%;
  }
  .eventparticipantslist-table {
    width: 100%;
  }

  .eventparticipantslist-navbuttons > *:not(:last-child) {
    display: none;
  }
}

/* ------------------------ EventParticipantsList.css ends here ------------------------ */
