.profilenotificationbox {
  display: flex;
  align-items: center;
  width: 260px;
  height: 64px;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  background-color: #2e2d2d9d;
  backdrop-filter:blur(32px);
  overflow: hidden;
  box-shadow: 5px 4px 28px rgba(0, 0, 0, 0.28);
}

.profilepic {
  width: 28px;
  height: 28px;
  border-radius: 6px;
  flex-shrink: 0;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.name {
  font-weight: medium;
  margin-left: 15px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.33px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.gmail {
  margin-left: 15px;
  color: #d9dbe9; /*Neutral 200*/
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bellicon {
  margin-right: 15px;
  font-size: 16px;
  color: white;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  cursor: pointer;
}

.dropdowncontainer {
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pointer {
  margin-top: 2px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #424242a8;
  box-shadow: 5px 4px 28px rgba(0, 0, 0, 0.28);
}

.dropdown {
  width: 260px;
  border-radius: 8px;
  background-color: #2e2d2d9d;
  backdrop-filter:blur(32px);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  box-shadow: 5px 4px 28px rgba(0, 0, 0, 0.28);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 45px;
  width: 100%;
  color: white;
  /* background-color: #2e2d2d; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.button:hover {
  background-color: #494949;
}
.line {
  height: 1px;
  width: 250px;
  background-color: #494949;
}
