/*--------------------batchaction.css starts here---------------------*/

.batchdetail-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  .batchdetail-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .batchdetail-textbutton {
    display: flex;
    gap: 10px;
  }
  
  .batchdetail-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .batchdetail-right {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .batchdetail-heading {
    color: white;
    font-size: 24px;
    font-weight: 500;
    align-items: flex-end;
  }
  
  .batchdetail-filter {
    display: flex;
    flex-direction: row;
  }
  
  .batchdetail-search {
    width: 33%;
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .batchdetail-top {
      flex-direction: column;
      gap: 5px;
    }
  
    .batchdetail-heading {
      display: flex;
      width: 100%;
    }
  
    .batchdetail-textbutton {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }
  
    .batchdetail-bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  
    .batchdetail-right {
      width: 100%;
      justify-content: space-between;
    }
  
    .batchdetail-search {
      width: 100%;
    }
  
    .batchdetail-button {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .batchdetail-content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
    }
  
    .batchdetail-top {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }
  
    .batchdetail-textbutton {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 7px;
    }
  
    .batchdetail-bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .batchdetail-heading {
      font-size: 18px;
    }
  
    .batchdetail-search {
      width: 100%;
    }
  
    .batchdetail-button {
      width: 100%;
    }
  
    .batchdetail-right {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
    }
  }
  
  /*--------------------batchaction.css ends here---------------------*/
  