/*Upcoming events layout css begins here*/

@import url("https://fonts.upcoming-googleapis.upcoming-com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap");

.upcoming-outer {
  width: 358px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--neutral700);
  padding-bottom: 0.2rem;
}

.upcoming-head-container {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
}

.upcoming-head {
  font-size: medium;
  font-family: "Urbanist", "Sans-serif";
  margin-left: 12px;
  margin-right: auto;
  color: var(--white);
}

.upcoming-link {
  font-size: 13px;
  font-family: "Urbanist", "Sans-serif";
  margin: 12px;
  cursor: pointer;
}

.upcoming-link a {
  text-decoration: none;
  color: white;
}

.upcoming-event-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upcoming-dark {
  background-color: rgb(56, 56, 56, 0.7);
  color: white;
}

@media only screen and (max-width: 992px) {
  .upcoming-outer {
    width: max-content;
    height: max-content;
    border-radius: calc(5px * 0.8);
  }

  .upcoming-head-container {
    width: 100%;
  }

  .upcoming-head {
    font-size: calc(medium * 0.6);
  }

  .upcoming-link {
    font-size: calc(medium * 0.5);
    margin: calc(12px * 0.8);
  }
}

@media only screen and (max-width: 767px) {
  .upcoming-outer {
    width: max-content;
    height: max-content;
  }
}
