/* ------------------------------- AddSkill.css starts here ------------------------------- */

.addskill-boxcontainer {
  background-color: var(--background);
  border-radius: 40px;
  width: 100%;
  padding: 50px;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
}

.addskill-layoutcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.addskill-layoutcontainer p {
  color: var(--white);
  font-size: 24px;
}

.addskill-buttonrow {
  display: flex;
  gap: 20px;
}

@media (max-width: 767px) {
  .addskill-boxcontainer {
    padding: 30px;
    border-radius: 30px;
  }
}

/* ------------------------------- AddSkill.css ends here ------------------------------- */
