/* ------------------------------- StudentSkill.module.css starts here ------------------------------- */
.skilllayout-layoutContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 73px;
  gap: 10px;
}

.skilllayout-skillTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  letter-spacing: -0.40799999237060547px;
  text-align: left;
  gap: 11px;
  color: var(--primary-color);
  padding-left: 10px;
}

.skilllayout-plusIcon {
  cursor: pointer;
  font-size: 28px;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  border-radius: 50%;
  background-color: var(--neutral600);
}

@media (max-width: 768px) {
  .skilllayout-skillTitle {
    text-align: center;
    align-items: center;
    display: flex;
  }

  .skilllayout-skillContainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .skilllayout-plusIcon {
    display: block;
  }

  .skilllayout-addButton{
    display:flex;
    justify-content: center;
    width: 100%;
  }

  .layoutContainer {
    display: flex;
    justify-content: center;
  }
}

/* ------------------------------- StudentSkill.module.css ends here ------------------------------- */