.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-top: 26px;
}
.conatinerLeft {
  padding-left: 57px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding-top: 26px;
}

.footer {
  display: flex;
  flex-direction: column;
  /* height: 367px; */
  gap: 40px;
  background-color: var(--background);
}

.logoBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.logoBoxLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.img {
  height: 40px;
  width: 163px;
}

.quote {
  color: var(--white);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerbox {
  width: 100%;
  height: 8px;
  background: var(--primary-color);
}

.bottumbox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.copyrightContent {
  font-family: Urbanist;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  /* text-decoration-line: underline; */
}

.copyrightContent2 {
  /* padding-left: 57px; */
  font-family: Urbanist;
  color: var(--white);
  font-size: 16px;
  /* font-style: normal; */
  font-weight: 400;
  /* line-height: normal; */
  text-decoration-line: underline;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 5px;
  color: var(--white);
}

.copyrightLeft {
  padding-left: 57px;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  color: var(--white);
}

@media (max-width: 425px) {
  .copyrightContent {
    font-family: Urbanist;
    color: var(--white);
    font-size: 10px;
    font-weight: 400;
    /* text-decoration-line: underline; */
  }
  .copyrightContent2 {
    font-size: 10px;
  }
  .copyright {
    flex-direction: column;
  }

  .quote {
    padding: 10px;
    font-size: 24px;
  }

  .conatinerLeft {
    padding-left: 0px;
    align-items: center;
  }
  .logoBoxLeft {
    padding-left: 0px;
    align-items: center;
  }
  .copyrightLeft {
    padding-left: 0px;
    justify-content: center;
  }
}
