.boxcontainer {
    background-color: var(--background);
    border-radius: 40px;
    height: 300px;
    width: 704px;
    display: flex;
    justify-content: center;   
  }
  
  .layoutcontainer {
    align-items: center;
    width:100%;
    height: 100%;
 }
  
  .layoutcontainer p {
    color: var(--white);
    font-size: 24px;
    margin:45px 57px;
    margin-bottom: 14px;
   } 
  
  .inputbox{
    margin:13px 57px;
    margin-bottom: 0px;
    }
  
  .buttonrow {
    display: flex;
    gap:20px;
    justify-content: space-between;
    margin:0px 57px;
    margin-top: 25px; 
}
  
  @media (max-width: 992px) {
    .boxcontainer {
      height: 300px;

    }

}
@media (max-width: 767px) {
  .boxcontainer {
    height: 280px;
    width: 100%;  
  }
  .layoutcontainer p {
    color: var(--white);
    margin:32px 57px;
    margin-bottom: 14px;
   } 

}
@media (max-width: 400px) {
  .boxcontainer {
    height: 280px;
    width: 100%;  
  }
  .layoutcontainer p {
    color: var(--white);
    margin:32px 35px;
    margin-bottom: 14px;
   } 
   .inputbox{
    margin:13px 35px;
    margin-bottom: 0px;
    }
    .buttonrow {
      gap:10px;
      margin:0px 35px;
      margin-top: 25px; 
  }
}

