@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

:root {
    --primary-color: #BAFF66; /* Primary color */
    --secondary-color: white; /* Secondary color */
}

.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Urbanist', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 20px; /* You can adjust padding as needed */
    border-radius: 20px;
    color: black;
    width: auto;
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.primary {
    background-color: var(--primary-color);
}

.primary:hover {
    background-color: #fff; /* Change to a darker shade of primary color on hover */
}

.secondary {
    background-color: var(--secondary-color);
}

.secondary:hover {
    background-color: #BAFF66; /* Change to a slightly darker shade of secondary color on hover */
}

.tertiary {
    background-color: none;
    border: 1px solid #BAFF66;
}

.tertiary:hover {
    background-color: #BAFF66; /* Change to primary color on hover */
    color: #000; /* Change text color to white on hover */
}

.full{
    width: 100%;
}

.half{
    width: 60%;
}