.aboutSection {
  width: 100%;
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.aboutTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: var(--primary-color);
}

.aboutText {
  width: 99%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 112%;
  letter-spacing: 0.59px;
  text-align: justify;
  color: var(--white);
  padding-left: 10px;
}

@media (min-width: 768px) and (max-width: 992px) {

  .aboutSection {
    width: 100%;
    padding: 15px;
    gap: 8px;
  }

  /* .aboutTitle {
    line-height: 24px;
  } */

  .aboutText {
    /* line-height: 120%; */
    padding-left: 8px;
  }
}

@media (max-width: 767px) {

  .aboutSection {
    width: 100%;
    padding: 10px;
    gap: 10px;
  }

  /* .aboutTitle {
    line-height: 26px;
  } */

  .aboutText {
    /* line-height: 120%; */
    padding-left: 5px;
  }
}