.QualificationForm-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  padding: 50px;
  border-radius: 40px;
  color:var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.QualificationForm-datebox {
  width: 48.75%;
}

.QualificationForm-startDateEndDate {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.QualificationForm-head {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-bottom: 15px;
}
.QualificationForm-button{
  padding-top: 10px;
}
@media screen and (max-width: 500px) {
  .QualificationForm-startDateEndDate {
    flex-direction: column;
    gap: 17px;
  }
  .QualificationForm-datebox {
    width: 100%;
  }
}
