.tall-size {
  height: 126px;
  width: 100%;
}

.normal-size {
  height: 57px;
  width: 100%;
}

.small-size {
  height: 57px;
  width: 48.75%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  padding: 25px;
  border-radius: 9px;
  border-color: var(--neutral600);
  fill: var(--neutral600);
  font-size: 14px;
  font-weight: lighter;
  color: var(--white);
  background: transparent;
  border: 1px solid var(--neutral600);
  transition: border-color 0.3s;
  margin-top: 13px;
  outline: none;
  text-align: left;
}

.input:hover,
.input:focus {
  border-color: var(--primary-color);
}

.input::placeholder {
  color: var(--neutral600);
  font-size: 14px;
  font-weight: light;
  letter-spacing: 0%;
  text-align: left;
}

.input-label {
  font-weight: 400;height: 16px;
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0%;
  word-wrap: break-word;
  text-align: left;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--neutral600);
  border-radius: 5px;
}

textarea:hover::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

textarea:focus::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .tall-size,
  .normal-size,
  .small-size {
    width: 100%;
  }
}
