.tall-size {
  height: 126px;
  width: 100%;
}

.normal-size {
  height: 57px;
  width: 100%;
}

.small-size {
  height: 57px;
  width: 48.75%;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  padding: 25px;
  border-radius: 9px;
  border-color: var(--neutral600);
  fill: var(--neutral600);
  font-size: 14px;
  font-weight: light;
  color: var(--neutral400);
  background: transparent;
  border: 1px solid var(--neutral600);
  transition: border-color 0.3s;
  margin-top: 13px;
  outline: none;
  text-align: left;
  letter-spacing: 0%;
}

.input:hover,
.input:focus {
  border-color: var(--primary-color);
}

.input::placeholder {
  color: var(--neutral400);
  font-size: 14px;
  font-weight: light;
  letter-spacing: 0%;
  text-align: left;
}

.input-label {
  font-weight: 400;
  height: 16px;
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0%;
  word-wrap: break-word;
  text-align: left;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 7px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--neutral600);
  border-radius: 5px;
}

textarea:hover::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

textarea:focus::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  width: 25px;
  height: 25px;
  filter: invert(50%);
}

.file-input-wrapper {
  margin-top: 13px;
  position: relative;
  display: flex;
  fill: var(--neutral600);
  border-color: var(--neutral600);
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
  font-weight: normal;
  transition: border-color 0.3s;
  border-radius: 9px;
  border: 1px solid var(--neutral600);
  background: transparent;
  color: var(--neutral400);
  cursor: pointer;
  flex-direction: column;
  text-align: center;
  outline: none;
  letter-spacing: 0%;
}

.file-input-wrapper:hover,
.file-input-wrapper:focus {
  border-color: var(--primary-color);
}

.file-input-label {
  font-size: 14px;
  flex-grow: 1;
  overflow-wrap: break-word;
  white-space: normal;
  word-wrap: break-word;
}

.file-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-input-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--neutral600);
}

.file-input-icon-uploaded {
  color: var(--primary-color); /* Color when file is uploaded */
}

@media screen and (max-width: 768px) {
  .tall-size,
  .normal-size,
  .small-size {
    width: 100%;
  }
}
