/* --------------------------- BatchOperation.css starts here -------------------------------- */

.batchoperations-form {
  width: 100%;
  filter: drop-shadow(5px 5px 21px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(45px);
  background: var(--background);
  background-blend-mode: lighten;
  border-radius: 40px;
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 25px;
}

.batchoperations-head {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: var(--white);
}

.batchoperations-buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.batchoperations-containerone {
  gap: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  word-break: break-word;
}

.batchoperations-containerinput {
  width: 100%;
  gap: 9px;
  display: flex;
  flex-direction: column;
}

.batchOperations-iconlabelcontainerinput {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.batchoperations-iconlabelcontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

/* ------------------------------- BatchOperation.css ends here -------------------------------- */
/*--------------------batchsearch.css starts here---------------------*/

.batchsearch-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.batchsearch-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.batchsearch-textbutton {
  display: flex;
  gap: 10px;
}

.batchsearch-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.batchsearch-right {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.batchsearch-heading {
  color: white;
  font-size: 24px;
  font-weight: 500;
  align-items: flex-end;
}

.batchsearch-filter {
  display: flex;
  flex-direction: row;
}

.batchsearch-search {
  width: 33%;
}

@media (min-width: 768px) and (max-width: 992px) {
  .batchsearch-top {
    flex-direction: column;
    gap: 5px;
  }

  .batchsearch-heading {
    display: flex;
    width: 100%;
  }

  .batchsearch-textbutton {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  .batchsearch-bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .batchsearch-right {
    width: 100%;
    justify-content: space-between;
  }

  .batchsearch-search {
    width: 100%;
  }

  .batchsearch-button {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .batchsearch-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .batchsearch-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .batchsearch-textbutton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
  }

  .batchsearch-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .batchsearch-heading {
    font-size: 18px;
  }

  .batchsearch-search {
    width: 100%;
  }

  .batchsearch-button {
    width: 100%;
  }

  .batchsearch-right {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
  }
}

/*--------------------batchaction.css ends here---------------------*/
