.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.textbutton{
    display: flex;
    gap: 10px;
}

.bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.heading{
    color: white;
    font-size: 24px;
    font-weight: 500;
    align-items: flex-end;
}

.filter{
    display: flex;
    flex-direction: row;
}

.search{
    width: 80%;
}


@media (max-width: 767px) {
   .content{
    display: flex;
    flex-direction: column;
    gap: 5px;
   }

    .bottom{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    
    .heading{
        font-size: 18px;
    }

    .search{
        width: 100%;
    }
    .button{
        width: 100%;
    }
    .right{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
}