.filter {
  color: var(--white);
  position: relative;
  width: 100%;
  min-width: 75px;
  width: fit-content;
  max-width: 450px;
  height: 100%;
}

.filter :hover {
  background-color: var(--primary-color);
  color: var(--black);
}
/* ---------------------------------------------------------------------------- */
.filterClass {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 14px;
  gap: 7px;
  cursor: pointer;
  color: var(--white);
  border-bottom: 1px solid var(--neutral500) !important;
  min-width: 75px;
  max-width: 450px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.filterClass a {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.iconAngleDown {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ---------------------------------------------------------------------------- */
.drop {
  min-width: 75px;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0%;
  text-align: left;
}
.dropcontent {
  max-width: 300px;
  padding: 10px;
  background-color: var(--white);
  color: var(--black);
  border-bottom: 1px solid var(--neutral500) !important;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropcontent a {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
