

.headerContainer {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Center the header-menu */
  background-color: var(--background); /* Background color with low opacity */
  padding: 0 10%; 
}

.headerTitle {
  width: 130px;
  /* height: 35px; */

}

.headerMenu {
  display: flex;
  flex-direction: row;
  gap: 16px; 
  width: 45%;
  height: 24px;
  justify-content: center;

}

.menuItem {
  color: var(--neutral200); 
  font-size: 15px; 
  line-height: 150%;
  gap: 18px;
  cursor: pointer;

}

.button {
  width: 94px;
  height: 48px;
  border: none;
  background-color: var(--primary-color);
  color: var(--black);
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
}

/* Hamburger Icon Styles */
.sidebarIcon {
  display: none; /* Hide hamburger icon by default */
}
.menuItemResp{
  display: none;
}
.sidebar{
  display: none;
}
/* .hamburgerIcon div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
} */

/* Sidebar Styles */
/* .sidebar {
  position: fixed;
  top: 016px;
  right: -250px;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #2E2D2D;
  box-shadow: -10px 0 10px rgba(0,0,0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: right 0.3s ease;
} */

/* Show Sidebar */
.show {
  left: 0;
}

/* Media query for small screens */
@media (max-width: 768px) {
.headerContainer {
  position: absolute;
  width: 90%; 
  padding: 0 5%;
  left: 0;
}

.headerMenu {
  display: none; /* Hide menu items initially on small screens */
}
.menuItemResp{
  cursor: pointer;
  display: block;
  color: var(--neutral200); 
  font-size: 16px; 
  margin-top: 20px;
  line-height: 100%;
  text-align: left;
}
.headerMenuRep{
  position: fixed;
  top: 80px;
  padding-left: 30px;
  height: 100vh;
}

.headerTitle {
  display: flex;
  width: 100%;
  /* height: 35px; */
  align-items: center;
  justify-content: center;
}
.headerTitleResp{
  display: flex;
  width: 100%;
  /* height: 35px; */
  align-items: start;
  justify-content: start;
  margin-left: 17px;
  margin-top: 28px;
}
.buttonResp {
  width: 94px;
  height: 48px;
  border: none;
  background-color: var(--primary-color);
  color: var(--black);
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border-radius: 100px;
  cursor: pointer;
}
.headerButton{
  position: absolute;
  bottom: 136px;
}
.button{
  display: none;
}
  

.sidebarIcon {
  display: block; /* Show hamburger icon on small screens */
  margin-left: 10px; /* Add some margin for spacing */
  font-size: 24px; /* Adjust size of hamburger icon */
  cursor: pointer; 
  color: var(--neutral200);/* Add pointer cursor for indicating clickability */
}
.hamburger {
  cursor: pointer;
  font-size: 25px;
  top: 40px;
  color: var(--white);
  position: fixed;
  left: 25px;
  transition: left 0.5s ease-out;
  /* Add transition for left property */
}
.crossIcon {
  cursor: pointer;
  font-size: 25px;
  color: var(--white);
  top: 40px;
  position: fixed;
  padding-top: 3px;
  right: 40px;
}
.hamburgerIcon div {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 3px 0;
}
.sidebar {
  position: fixed;
  top: 16px;
  right: -800px;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: left 0.5s ease;
}
.image{
  width: 100px;
  padding-bottom: 0px;
}
}

@media (min-width: 768px)and (max-width: 1068px){
  .headerMenu {
     
    width: 95%;
    
  }
  .image{
    width: 120px;
    padding-bottom: 0px;
  }
}
